.LotList {
  &__address {
    font-size: 0.9rem;
    color: var(--sims-color-blue-muted);

    &__neighborhood::after {
      content: ",\00a0";
    }
    &__world {
      font-weight: 500;
    }
  }

  &__size {
    font-size: 0.8rem;
  }

  &__floors,
  &__bedrooms,
  &__bathrooms {
    color: var(--sims-color-blue-light);
    font-weight: 500;
    i {
      margin-right: 0.5rem;
    }
  }

  &__price {
    font-weight: 700;
  }
}
